[Desktop Entry]
Type=Link
URL=https://www.genbeta.com/imagen-digital/swatchmatic-la-aplicacion-android-que-identifica-colores-en-tiempo-real-perfecta-para-disenadores-graficos-y-curiosos