[Desktop Entry]
Type=Link
URL=https://www.xatakandroid.com/tutoriales/como-cerrar-aplicaciones-en-android-y-que-no-sigan-ejecutandose-en-segundo-plano